<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="d6a97f00-48de-42d2-a6c0-e73e61f47819" Publisher="CN=Howard" Version="1.0.0.0" />
  <Properties>
    <DisplayName>PasswordManager</DisplayName>
    <PublisherDisplayName>Howard</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PasswordManager.App">
      <VisualElements DisplayName="PasswordManager" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="PasswordManager" ForegroundText="light" BackgroundColor="#ADFF2F">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>